In [1]:
import pandas as pd
import numpy as np

In [2]:
# creating a time series using the date_range method from pandas
time_series = pd.date_range("1/1/2020", periods=20)

df = pd.DataFrame(np.random.randn(20, 5), index=time_series, columns=["Column 1", "Column 2", "Column 3", "Column 4", "Column 5"])

In [3]:
df

            Column 1  Column 2  Column 3  Column 4  Column 5
2020-01-01  0.275607  0.419471  0.044345 -0.648340 -1.107213
2020-01-02  0.063770  0.249534  0.876971 -0.900281 -0.703045
2020-01-03  1.082649  0.640346  0.006824  1.005349 -1.231769
2020-01-04  0.247164  0.194150  1.170339  0.646503 -0.790017
2020-01-05 -0.759943 -0.035277 -0.542320  0.714271 -1.192343
2020-01-06 -0.639964 -0.763482  0.625881 -1.427114 -0.045736
2020-01-07  0.737904  0.970060 -0.287851 -1.516383  0.239069
2020-01-08  0.336226 -1.237499  0.960090 -0.001410  1.342404
2020-01-09  0.575894  0.442196 -1.845347 -1.554039  0.123928
2020-01-10 -0.728427 -0.576660  0.169732  0.686282  1.118077
2020-01-11  0.643342  0.708528 -1.162331  1.764966 -0.593376
2020-01-12 -0.729688 -0.090892  0.396290 -0.858493  0.486473
2020-01-13  1.142354 -0.533558  0.079880  0.794992 -0.585825
2020-01-14 -0.110524 -0.543179 -0.040504  0.637554 -0.994510
2020-01-15  0.867085  0.514698  1.205610 -0.188012  0.431184
2020-01-16  1.279423 -0.510258  1.272697  0.188535  2.411775
2020-01-17  1.240792 -1.614952 -2.009024 -0.980486 -0.317322
2020-01-18  0.342823  0.071068 -1.090821  0.266955  0.661777
2020-01-19 -0.904737 -1.516188  0.129748  0.591672  1.405378
2020-01-20  0.564705  1.553923 -0.412108  1.712750 -1.153025

In [4]:
df["Column 1"]

2020-01-01    0.275607
2020-01-02    0.063770
2020-01-03    1.082649
2020-01-04    0.247164
2020-01-05   -0.759943
2020-01-06   -0.639964
2020-01-07    0.737904
2020-01-08    0.336226
2020-01-09    0.575894
2020-01-10   -0.728427
2020-01-11    0.643342
2020-01-12   -0.729688
2020-01-13    1.142354
2020-01-14   -0.110524
2020-01-15    0.867085
2020-01-16    1.279423
2020-01-17    1.240792
2020-01-18    0.342823
2020-01-19   -0.904737
2020-01-20    0.564705
Freq: D, Name: Column 1, dtype: float64

In [5]:
col1 = df["Column 1"]
col1[time_series[3]]

0.24716378915259676

In [6]:
#creating a dataframe using the dictionary structure
x = pd.DataFrame({"x": [1,2,3], "y" : [3,4,5]})

# selection by position
#specifying new value to the row number 1
x.loc[1] = {"x": 9, "y" : 99}

# print the resultant dataframe
print(x)

   x   y
0  1   3
1  9  99
2  3   5

In [7]:
#slicing is a feture that enables accessing sequences
df.iloc[:5, 0:2]

            Column 1  Column 2
2020-01-01  0.275607  0.419471
2020-01-02  0.063770  0.249534
2020-01-03  1.082649  0.640346
2020-01-04  0.247164  0.194150
2020-01-05 -0.759943 -0.035277

In [8]:
df[::3]

            Column 1  Column 2  Column 3  Column 4  Column 5
2020-01-01  0.275607  0.419471  0.044345 -0.648340 -1.107213
2020-01-04  0.247164  0.194150  1.170339  0.646503 -0.790017
2020-01-07  0.737904  0.970060 -0.287851 -1.516383  0.239069
2020-01-10 -0.728427 -0.576660  0.169732  0.686282  1.118077
2020-01-13  1.142354 -0.533558  0.079880  0.794992 -0.585825
2020-01-16  1.279423 -0.510258  1.272697  0.188535  2.411775
2020-01-19 -0.904737 -1.516188  0.129748  0.591672  1.405378

In [9]:
# filtering filter the given sequence and returns it
df[(df["Column 3"] < 0)]

            Column 1  Column 2  Column 3  Column 4  Column 5
2020-01-05 -0.759943 -0.035277 -0.542320  0.714271 -1.192343
2020-01-07  0.737904  0.970060 -0.287851 -1.516383  0.239069
2020-01-09  0.575894  0.442196 -1.845347 -1.554039  0.123928
2020-01-11  0.643342  0.708528 -1.162331  1.764966 -0.593376
2020-01-14 -0.110524 -0.543179 -0.040504  0.637554 -0.994510
2020-01-17  1.240792 -1.614952 -2.009024 -0.980486 -0.317322
2020-01-18  0.342823  0.071068 -1.090821  0.266955  0.661777
2020-01-20  0.564705  1.553923 -0.412108  1.712750 -1.153025

In [10]:
df[(df["Column 3"] < 0) & (df["Column 2"] > 0)][["Column 4", "Column 5"]]

            Column 4  Column 5
2020-01-07 -1.516383  0.239069
2020-01-09 -1.554039  0.123928
2020-01-11  1.764966 -0.593376
2020-01-18  0.266955  0.661777
2020-01-20  1.712750 -1.153025